@font-face {
    font-family: 'Cardo';
    src: url('../fonts/Cardo-Italic.woff2') format('woff2'),
        url('../fonts/Cardo-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cardo';
    src: url('../fonts/Cardo-Bold.woff2') format('woff2'),
        url('../fonts/Cardo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cardo';
    src: url('../fonts/Cardo-Regular.woff2') format('woff2'),
        url('../fonts/Cardo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff') format('woff2'),
        url('../fonts/OpenSans-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*Universal Properties start here*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*Universal Properties End here */

/*global body properties start here */

.container {
    max-width: 1140px;
    margin: 0 auto;
    /*    border: 1px solid red;*/
}

a {
    text-decoration: none;
    color: white;
}

body {
 font-family: 'Cardo';
}

li {
    list-style-type: none;
}

/*global properties end here. */

/*header starts here*/
.nav-top ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}

.nav-options{
    font-size: 12px;
}
.nav-top ul a i{
    margin-right: 8px;
}

.nav-top {
    padding: 15px;
    background-color: #9ec346;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    font-size: 0;
}

.navbar .nav-options ul {
    display: flex;
    gap: 20px;
}

.navbar .nav-options ul a {
    color: gray;
}

#drop1{
    border-radius: 20px;
}


.nav-bot {
    border-bottom: 1px solid gray;
    padding-block: 8px;
}

header .nav-top .login:hover{
    background-color: gray;
    padding: 5px 0px;
    border-radius: 5px;
}

header .nav-top .shoppingcart:hover{
    background-color: gray;
    padding: 5px 0px;
    border-radius: 5px;
}

.nav-bot .nav-options li a:hover{
    background-color: gray;
    border-radius: 4px;
    color: white;
}

.navbar .nav-options .in{
    display: flex;
    border: 1px solid lightgray;
    padding: 5px 2px 2px 2px;;
}

.navbar .nav-options .in input{
border: none;
outline: none;
width: 100px;
padding-left: 5px;
font-size: 14px;
}

.navbar .nav-options{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-bot .nav-options select{
border: none;
    outline: none;
    width: 15px;
}

/* Header ends here*/

/*main section starts here*/

.hero .first-main{
    padding: 50px 0px 50px 0px;
    border-bottom: 1px solid lightgray;
}

.hero .first-main .container {
    background-image: url('../images/1stImg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    padding-block: 200px;
    background-size: 100% 100%;
    text-align: center;
}

.hero .first-main h1 {
    color: white;
    font-size: 30px;
}


.hero .container {
    height: 1160px;
    padding-top: 40px;
}

.container .imgs img {
    width: 555px;
}

.container .imgs .img2 {
    margin-left: 24px;
}

.cards .card {
    width: 22.5%;
    height: 360px;
    position: relative;
    z-index: 0;
}

.cards .card .picture{
    display: flex;
    flex-direction: column;
}

.card .picture .pictext{
background-color: rgba(0, 0, 0, 0.7);
color: white;
text-align: center;
height: 280px;
width: 100%;
position: absolute;
z-index: 1;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
display: none;
}

.card .picture:hover .shorttext{
    background-color:#80b600;
}

.card .picture:hover .pictext{
display: block;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-family: 'Open Sans';
}

.card .picture .cardhoverbtn:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

.picture .pictext .cardhovertext{
    margin-bottom: 15px;
    padding: 15px;
}

.picture .pictext .cardhoverbtn{
    border: 2px solid #80b600;
    font-size: 14px;
    padding: 5px 10px;
}

.cards .card img{
    height: 280px;
    width: 100%;
    border: 1px solid lightgray;
}

.cards .card .shorttext{
    position: absolute;
    top: 10px;
    left: 5px;
    color: white;
    background: gray;
    padding: 6px;
    z-index: 2;
}


.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}


.hero .cards .details{
    border: 1px solid lightgray;
    border-top: none;
    padding:  15px 10px 25px 10px; 
    font-size: 14px;
}

.cards div h2 {
    font-size: 14px;
}

.card .details p{
    font-family: 'Open Sans';
}


.hero .container .imgs {
    margin-bottom: 46px;
}

.hero .container {
    height: fit-content;
}


/* Main section Ends here*/

/* Footer starts here*/
footer {
    margin-top: 70px;
    line-height: 30px;
    background-color: #80b600;
    color: white;
    font-family: 'Open Sans';
}

footer .first-part1 {
    display: flex;
}

.first-part1 h3{
    font-size: 16px;
}

footer .first-part2 {
    display: flex;
    justify-content: space-around;
    margin-right: 24px;

}

footer .container .firstpart {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}


footer .secondpart {
    display: flex;
    justify-content: space-between;
    padding: 25px 0px 25px 0px;
    font-size: 18px;
}

footer .secondpart li{
    padding: 1px;
    font-size: 13px;
}


footer .lastpart {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 14px;
}

footer .lastpart p{
    color: white;
    font-size: 12px;
    font-family: 'Open Sans';
}

footer .first-part1 a {
    background-color: gray;
    margin-left: 10px;
    padding: 2px 14px 0px 14px;
    font-size: 13px;
}

footer .first-part1 input {
    border-radius: 2px;
    border: 1px solid white;
    padding: 5px;
    margin-left: 10px;
}
.secondpart address{
    line-height: 32px;
    font-size: 13px;
}

.secondpart h3{
    font-size: 16px;
    margin-bottom: 6px;
}

footer .first-part1 a:hover {
    background-color: black;
    border-radius: 2px;
}

footer .secondpart li a:hover{
background-color: black;
padding: 1px;
border-radius: 4px;
}

footer .secondpart address a:hover{
    background-color: black;
    padding: 1px;
    border-radius: 4px;
}

.firstpart .first-part2 .socials a:hover{
    background-color: black;
    border-radius: 2px;
}
